Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: ''

CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-nullptr.NullptrTMacro
    value:           'nullptr_t'
  - key:             readability-identifier-naming.VariableCase
    value:
